mta_archives/
node_modules/
default-*.json
.env
.yo-rc.json
.vscode/
coverage/
gen/
dist/
*-content.zip
manifest-bundle.zip
connection.properties
*.db
*.mtar
*.log
_out
.che/
.gen/
.DS_Store
package-lock.json